# unix
alias install="sudo apt-get install"
alias update="sudo apt-get update"
alias upgrade="sudo apt-get upgrade"
alias ll="ls -lh"
alias feh="feh -F"
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="cd ~/.oh-my-zsh"

# git
alias add="git add"
alias co="git commit -m"
alias addp="git add -p"
alias push="git push origin master"
alias push-pages="git push origin gh-pages"
alias status="git status"
alias diff="git diff"
alias rebasei="git rebase -i"

alias serv="python -m SimpleHTTPServer"
alias notesync="gnsync --path /home/b/notes --mask '*.md' --format 'markdown'"

# ssh
alias sshairwars="ssh basile@178.62.196.225"

# ranger, file explorer
# uncomment first line for linux, second for Mac
# alias ranger="ranger --confdir=/home/b/"
alias ranger="ranger --confdir=/Users/bsimon/"

# rssowl
alias rss="/home/b/softs/rssowl/RSSOwl"

# bbc scaffold
# alias grunt-init='npm update -g npm; cd ~/.grunt-init/iframe-scaffold; git pull origin master; cd -;\grunt-init'
